.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/libraries/android_support_v4.xml
.idea/libraries/android_support_v4_92051cafa791fd966eaf66f33b335778.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml